# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Electron
/dist
/release

# Static site generators
/public

# Firebase
/.firebase/
firebase-debug.log
*.log

# Miscellaneous
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.env
.env*.local
.tmp

# IDE config
.idea
.vscode/*
!.vscode/settings.json
